button{
    background-color: #ffffff; /* White */
    border: 1px solid rgb(155, 148, 148);
    color: rgb(0, 0, 0);
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 6px 4px;
    cursor: pointer;
}

.buttonActive {
    background-color: #3f913f; /* Green */
    border: 2px solid black;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 6px 4px;
    cursor: pointer;
}

.buttonHidden {
    display: none;
}

.buttonFaded {
    background-color: #bcc4bc; /* Gray */
    border: 1px solid rgb(34, 14, 59);
}

.faded td, th{
    background-color: #96969c; /* Gray */
    border: 2px double  rgb(136, 54, 54);
}

.chosedByAI {
border: 3px solid rgb(233, 157, 16);
background-color:rgb(109, 84, 38);
}

table {border-collapse: collapse;
     font-family: helvetica;
     margin: 0 auto;
    }
td, th {border:  1px solid;
      padding: 10px;
      min-width: 20px;
      background: white;
      box-sizing: border-box;
      text-align: center;
      

}

.panel {
    font: 16px "Open Sans", Helvetica, Arial, sans-serif;
    border: 4px double rgb(55, 170, 132);
    padding: 12px;
    left:50%;
    text-align: center;
    background-color: #f3f3f3;
  }

